.author-page{
    .avator-info{
        img{
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 1rem;
        }

        a{
            margin: 0 .2rem;
        }

        a i{
            display: inline-block;
            width: .8rem;
            height: .8rem;
            line-height: .8rem;
            border-radius: .4rem;
            font-size: .36rem;
            color: #fff;
            background: var(--secondColor);
        }
    }
}