.to-top{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: .8rem;
    height: .8rem;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 0 2px #bbb;
    cursor: pointer;

    i{
        font-size: .36rem;
        color: #333;
    }
}