.copy-rights{
    margin: 1rem 0 0;
    padding: 1.4rem 0 .6rem;
    text-align: center;
    color: #bbb;
    background: #f7fafb;

    i{
        color: #ff1100;
    }

    .gov-num{
        margin: 6px 0;
        font-size: 12px;
    }
}